:root {
  --background: #EEEEED;
  --dark-purple: #1E1A34;
  --gray-disabled: #EEEEED;
  --gray-text-disabled: #8A8895;
  --gray: #474359;
  --light-gray-border: #C0BFC6;
  --light-gray: #747181;
  --link: #5D3D9A;
  --light-purple: #CEBFE8;
  --purple: #7249BC;
  --green: #BEDE18;
  --light-red: #FEF5F6;
  --red: #E42F44;
  --white: #FFFFFF;
  --background-content: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--font-primary-neutral);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}