:root {
  --background: #EEEEED;
  --dark-purple: #1E1A34;
  --gray-disabled: #EEEEED;
  --gray-text-disabled: #8A8895;
  --gray: #474359;
  --light-gray-border: #C0BFC6;
  --light-gray: #747181;
  --link: #5D3D9A;
  --light-purple: #CEBFE8;
  --purple: #7249BC;
  --green: #BEDE18;
  --light-green: #F2F8D1;
  --light-green: #F2F8D1;
  --light-red: #FEF5F6;
  --red: #E42F44;
  --white: #FFFFFF;
  --background-content: #FFFFFF;

  --toastify-color-light: var(--light-green);
  --toastify-toast-min-height: 2.75rem;
  --toastify-font-family: 'Inter', sans-serif;
  --toastify-text-color-light: var(--gray);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--font-primary-neutral);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.Toastify__toast {
  border-radius: 0.5rem;
  font-size: 0.75rem;
  font-weight: 400;
}

.Toastify__close-button {
  align-self: center;
}